<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frizeraj</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div>
        <h1 class="promo-title1">Termini!</h1>
    </div>
    <div class="background-container"></div>
    <%= JSON.stringify(REZULTAT) %>
</body>
</html>