*{
    padding: 0;
    margin: 0;
}

.promo-title{
    font-size: 70px;
	font-weight: 500;
	text-align: center;
    color:#ffff00;
}

.promo-title1{
    font-size: 90px;
	font-weight: 500;
	text-align: center;
    color:#ffff00;
}

.title1{
    font-size: 70px;
	font-weight: 500;
	text-align: center;
    color:#ffff00;
}
.text{
    font-size: 30px;
    font-weight: 250;
    text-align: center;
    color: #ffff00;
}

.title2{
    font-size: 50px;
	font-weight: 400;
	text-align: center;
    color:#ffff00;
}

.subtitle{
    font-size: 30px;
    font-weight: 250;
    text-align: center;
    color: #ffff00;
}

.background-container {
    width: 100%;
    height: 100%;
    background-color: #ffff00;
    background-size: cover;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: -2;
    filter: brightness(60%);
    -webkit-filter: brightness(60%);
    -moz-filter: brightness(60%);
    -o-filter: brightness(60%);
    -ms-filter: brightness(60%);
}
.nav{
    background: linear-gradient(to right, #000000, #434343);
}

.button1{
    margin-left: 45%;
    margin-top: 100px;
    border: 2px solid black;
    padding: 15px 32px;
    text-align: center;    
    background: linear-gradient(to right, #000000, #434343);
    color: #ffff00;
}

#ts.text{
    color: #ffff00;
    border: #000000;
    font-size: 30px;
    font-weight: 250;
    text-align: center;
}

.row{
    width: 500px;
    padding-top: 100px;
    padding-left: 100px;
}